<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clients</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
</head>

<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">DNI</th>
				<th scope="col">NAME</th>
				<th scope="col">SURNAME</th>
				<th scope="col">MOBILE NUMBER</th>
				<th scope="col">REGISTERED</th>
				<th scope="col">EDIT</th>
				<th scope="col">DELETE</th>
			</tr>
		</thead>
		<tbody th:each="client : ${clients}">
			<tr>
				<th scope="row" th:text="${client.DNI}"></th>
				<td th:text="${client.name}"></td>
				<td th:text="${client.surname}"></td>
				<td th:text="${client.mobileNumber}"></td>
				<td>
					<i th:if="${client.registered}" class="fa fa-circle text-success"><a th:href="@{/client/registeredDown/__${client.id}__}"><i class="fa fa-ban"></i></a></i>
					<i th:unless="${client.registered}" class="fa fa-circle" style="color:red;"><a th:href="@{/client/registeredUp/__${client.id}__}"><i class="fa fa-arrow-up"></i></a></i>
				</td>
				<td><a th:href="@{/client/edit/__${client.id}__}">Edit</a></td>
				<td><a th:href="@{/client/delete/__${client.id}__}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" th:href="@{/client/create}">Add Client</a>
	<a class="btn btn-primary" th:href="@{/}">Index</a>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>